.header {
	max-height: 75px !important;
	height: 75px !important;
	background-image: url(bgimg-mobile.jpg) !important;
}

#header-avi {
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	border: solid 3px white;
	box-shadow: 0px 0px 8px 0px black, inset 0px 0px 5px 1px black;
	background-image: url(avatar.jpg);
	background-position: center;
	background-size: cover;
	margin-top: 12px;
}

.header h1 {
	font-size: 300%;
	color: black;
	text-shadow: none;
}

.mobile-nameline {
	display: block;
	border: 0;
	width: 80%;
	color: black;
	background-color: black;
	height: 5px;
}

.header h3 {
	display: none;
}

.sociallinks {
	display: none;
}

.contentTitle {
	font-size: 200% !important;
}

.content table {
	margin-top: 15px;
}

.footer.desktop {
	display: none;
}

.footer.mobile {
	display: block;
}

.mobile-menu-icon {
	margin-top: 0;
	display: none;
}

.lefttd {
	display: none;
}

.maincontent {
	margin-left: 0;
	margin-top: 100px;
	padding-right: 10px;
	position: static;
}