/* Use this temporarily to see where items are */
.temp-border {
    border: 2px solid #808074;
}

html {
    background-color: #262626;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: #262626;
    color: #808074;
    font-family: monospace;
    font-size: 100%;
}

legend {
    color: #808074;
}

fieldset {
    border: 2px solid #808074;
    box-sizing: border-box;
    margin-top: 5px;
    margin: 5px;
    padding: 5px;
}

h1 {
    margin: 0;
    text-align: center;
}

a {
    color: #808074;
    text-decoration: none;
}

a:visited {
    color: #808074;
    text-decoration: none;
}

a:hover {
    color: orange; /* TODO: make this not ugly */
}

/* General */

.main-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
}


/* Info box */

.info-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0; /* don't let this column grow */
    justify-content: center;
    padding: 5px;
}

.social-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.twitter-link > a:hover {
    color: rgb(29, 161, 242);
}

/* Page content */

.content-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 5px;
}
