@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:200,200i,300,300i,400');

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #37474f;
	overflow-x:hidden;
}

header {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	display: block;
	height: 80px;
	max-height: 80px;
	background-color: #FB8C00;
	padding-top: 5px;
	padding-left: 8px;
	box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
	z-index: 5000;
}

.headingname {
	display: inline-block;
	position: absolute;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 300%;
	top: 14.5px;
	margin: 0;
	margin-left: 15px;
	color: white;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.avatar {
	display: inline-block;
	background-image: url("avatar.jpg");
	background-position: center;
	background-size: cover;
	height: 70px;
	width: 70px;
	border-radius: 37px; /* because with 70+the border, width is effectively 74 */
	border: 2px solid white;
	box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 5px 0px;
}

.emailButton {
	display: inline-block;
	position: absolute;
	top: 7.5px;
	right: 7.5px;
	margin: 0;
	margin-right: 7px;
	height: 70px;
	width: 70px;
	background-color: #5D4037;
	border-radius: 35px;
}
.emailButton:hover {
	background-color: #795548;
	box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 5px 0px;
}
.emailButton > img {
	height: 52px;
	width: 52px;
	margin-top: 9px;
	margin-left: 9px;
	filter: invert(1.0);
	-webkit-filter: invert(1.0);
	opacity: 0.65;
}
.emailButton:hover > img {
	opacity: 1.0;
}

.content {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 700px;
	width: 700px; /*ends up as 720 with the 10px padding*/
	box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 5px 0px;
	padding: 10px;
	background-color: white;
	z-index: 500;
}

.content > p, h1 {
	margin: 20px;
	font-family: 'Open Sans', sans-serif;
}

.content > h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 300%;
}

.content > hr {
	border: 0;
	background-color: black;
	height: 1px;
	margin-left: 20px;
	margin-right: 20px;
}

.socialBox {
	display: block;
	position: fixed;
	height: 310px;
	width: 70px;
	margin: 0;
	top: 50%;
	-webkit-transform: translate(20px, -50%);
	-ms-transform: translate(20px, -50%);
	transform: translate(20px, -50%);
	z-index: 1000;
}

.socialButton {
	height: 70px;
	width: 70px;
	background-color: #455A64;
	border-radius: 35px;
	padding: 0;
	display: block;
	margin-bottom: 15px;
}

.socialButton:hover {
	background-color: #546E7A;
	box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 5px 0px;
}

.socialButton > img {
	opacity: 0.65;
}

.socialButton:hover > img {
	opacity: 1.0;
}

.twitterButton > img {
	height: 64px;
	width: 64px;
	margin-left: 3px;
	margin-top: 3px;
}

.githubButton > img {
	width: 70px;
}

.instaButton > img {
	width: 40px;
	height: 40px;
	filter: invert(1.0);
	-webkit-filter: invert(1.0);
	margin-top: 15px;
	margin-left: 15px;
}

.redditButton > img {
	margin-top: 10px;
	margin-left: 10px;
	width: 50px;
	height: 50px;
	filter: invert(1.0);
	-webkit-filter: invert(1.0);
}

.footer {
	text-align: center;
	width: auto;
	height: auto;
	display: block;
	color: #455A64;
	margin-top: -5px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 75%;
}
