@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300italic,700italic);

html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: visible;
}

body {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 0;
	height: 100%;
	width: 100%;
}

.centered {
	margin-right: auto;
	margin-left: auto;
}

.header {
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	display: block;
	width: 100%;
	height: 365px;
	max-height: 365px;
	background-image: url(bgimg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 5px black;
	z-index: 400;
	box-shadow: inset 0px 0px 12px 0px black;
}

.header h1 {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 300%;
	margin-top: 0;
	margin-bottom: 0;
	
}

.header h3 {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 200%;
	margin-top: 0;
	margin-bottom: 10px;
}

#header-avi {
	display: inline-block;
	height: 200px;
	width: 200px;
	border-radius: 100px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border: solid 3px white;
	box-shadow: 0px 0px 8px 0px black, inset 0px 0px 5px 1px black;
	background-image: url(avatar.jpg);
	background-position: center;
	background-size: cover;
	-webkit-transition: filter .2s ease-in-out;
    -moz-transition: filter .2s ease-in-out;
    -o-transition: filter .2s ease-in-out;
    transition: filter .2s ease-in-out;
}

.sociallinks {
	color: white;
	margin-top: 0;
	font-size: 125%;
	font-family: "Lato", sans-serif;
	font-style: italic;
}

.sociallinks {
	cursor: default;
}

.sociallinks a {
	color: white;
	text-decoration: none;
	-webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.sociallinks a:visited{
	color: white;
}
.sociallinks a[href="http://www.twitter.com/will_eccles"]:hover {
	color: #5ea9dd;
}
.sociallinks a[href="https://www.flickr.com/photos/will_eccles/"]:hover {
	color: #ff0084;
}
.sociallinks a[href="http://www.instagram.com/willeccles"]:hover {
	color: #9f775b;
}
.sociallinks a[href="https://www.coinbase.com/willeccles"]:hover {
	color: #f7931a;
}

.content {
	margin-top: 15px;
	background-color: white;
	
	width: 850px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5px;
	padding-right: 5px;
}

.blogTitle {
	color: black;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 250%;
}

/*  BLOG ENTRIES AND SUCH  */
.entry {
	border-left: 3px solid black;
	padding-left: 15px;
	font-family: "Lato", sans-serif;
}

.entryTitle {
	font-weight: 900;
	font-size: 175%;
}

.entryDate {
	font-style: italic;
	padding-left: 15px;
}

.entryPreview {
	padding-left: 15px;
}